  .block1 {

  width: 1880px;

   background: yellow;

   padding: 1px;

   float: left;

   position: relative;

   top: 30px;

   left: 10px;

  }

  .block2 {

   width: 1880px;

   background: yellow;

   padding: 1px;

   float: left;

   position: relative;

   top: 30px;

   left: 10px;

  }

.Cont{
    border: 1px solid orange;
    position: static;
    float: right;
    top: 0px;
    height: 150px;
    width: 200px;

}
.Cont:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 2px 2px red;
}

.menu {
    position: fixed; /* Фиксированное положение */
    right: 87%; /* Расстояние от правого края окна браузера */
    top: %; /* Расстояние сверху */
    padding: 10px; /* Поля вокруг текста */
    background: #ffe; /* Цвет фона */
    border: 1px solid #333; /* Параметры рамки */
}

.menui {
    position: fixed; /* Фиксированное положение */
    right: 90%; /* Расстояние от правого края окна браузера */
    top: 5%; /* Расстояние сверху */
    border: 1px solid #333; /* Параметры рамки */
    
}

.menui:hover {
    /* курсор — палец */
    cursor: pointer;
    box-shadow: 2px 2px red;
    size: 100px;
}
    P {
    font-family: 'Times New Roman', Times, serif; /* Гарнитура текста */ 
    font-size: 100%; /* Размер шрифта в процентах */ 
    color: white;
}

/*
  ... стандартные правила CSS ...
  например, выводим карточки товаров по 4 в ряд
*/
@media (max-width:768px) {
  /*
    ... правила для планшетов ...
    выводим карточки товаров по 2 в ряд
  */
}
@media (max-width:320px) {
  /*
    ... правила для смартфонов ...
    выводим карточки товаров по 1 в ряд
  */
}